.ant-popover-content,
.ant-popover-inner {
  backdrop-filter: blur(20px) saturate(250%) !important;
  -webkit-backdrop-filter: blur(20px) saturate(200%) !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 10px !important;
}
